<?xml version="1.0" encoding="utf-8" ?>
<configuration>

   <!-- if you get a configuration exception then make sure the folder exists for the logs -->
   <system.diagnostics>
      <switches>
         <add name="AgentManager" value="4" /> <!-- Verbose=4, Info=3, Warning=2, Error=1, Off=0 -->
         <add name="AgentJob" value="4" /> <!-- Verbose=4 -->
         <add name="AgentScheduler" value="4" /> <!-- Verbose=4 -->
         <add name="AgentWorker" value="4" /> <!-- Verbose=4 -->
         <add name="AgentException" value="4" /> <!-- Verbose=4 -->
         <add name="AgentNotifier" value="4" /> <!-- Verbose=4 -->
      </switches>
      <trace autoflush="true" indentsize="0">
         <listeners>
            <add name="AgentTraceListener"
                 type="System.Diagnostics.TextWriterTraceListener" 
                 initializeData="Agent.log"/>
         </listeners>
      </trace>
   </system.diagnostics>

  <system.runtime.remoting>
    <application name="agent">
      <service>
        <wellknown mode="Singleton" type="Agent.ManagerDataSetReportGenerator, AgentClasses" objectUri="report" />
      </service>
      <channels>
        <channel ref="http" port="999">  <!-- support HttpChannel on port 999 -->
          <serverProviders>
            <formatter ref="binary" />   <!-- support binary encoding -->
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

</configuration>
