<?xml version="1.0" encoding="utf-8"?>
<Manager type="Agent.RemotingManager, AgentClasses">
	<Jobs type="Agent.AgentJob, AgentBase" Name="FTP readme.txt from Microsoft">
		<Worker type="Agent.Worker.FtpDownloadWorker, AgentWorkers"
			Description="FTP readme.txt from Microsoft"
      DownloadFileUrl = "ftp://ftp.microsoft.com/developr/readme.txt"
      User = "anonymous"
      Password = "developer@example.com"
      LocalPath = "C:\readme.txt"
      MessageCritical = "FTP failed at {0:u}; status {1}."
      MessageOk = "FTP succeeded at {0:u}."
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Weekdays"
			Frequency="00:05:00"
			StartTime="04:00:00"
			EndTime="22:00:00"
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Weekends"
			Frequency="00:30:00"
			StartTime="09:00:00"
			EndTime="18:00:00"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="Warning,Critical,Exception"
			MaxNotificationFrequency="02:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="4"
			SmtpServer="localhost"
			To="mypager@example.com"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="All"
			MaxNotificationFrequency="02:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="4"
			SmtpServer="localhost"
			To="normaluser@example.com"
			/>
	</Jobs>
	<Jobs type="Agent.AgentJob, AgentBase" Name="Log Shipping to REMOTESERVER">
		<Worker type="Agent.Worker.SqlLogShippingWorker, AgentWorkers"
			Description="Log Shipping to REMOTESERVER"
			Connection="Provider=SQLOLEDB;Data Source=REPORTSERVER;Initial Catalog=msdb;Integrated Security=SSPI;"
      PrimaryServerName="SOURCESERVER"
      PrimaryDatabaseName="pubs"
      SecondaryServerName="REMOTESERVER"
      SecondaryDatabaseName="pubs"
      LastUpdatedWarningThreshold="00:14:00"
      LastUpdatedCriticalThreshold="00:24:00"
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Weekdays"
			Frequency="00:01:00"
			StartTime="04:00:00"
			EndTime="22:00:00"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="Warning,Critical,Exception"
			MaxNotificationFrequency="02:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="4"
			SmtpServer="localhost"
			To="testuser@example.com"
			/>
	</Jobs>
	<Jobs type="Agent.AgentJob, AgentBase" Name="Replicaton to REPORTSERVER">
		<Worker type="Agent.Worker.SqlReplicationWorker, AgentWorkers"
			Description="Replication to REPORTSERVER"
			Connection="Provider=SQLOLEDB;Data Source=SOURCESERVER;Initial Catalog=distribution;Integrated Security=SSPI;"
			DistributionAgentName="SOURCESERVER-pubs-REPORTSERVER"
			MaximumDeliveryLatency="00:00:30"
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Weekdays"
			Frequency="00:01:00"
			StartTime="04:00:00"
			EndTime="20:00:00"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="Warning,Critical,Exception"
			MaxNotificationFrequency="02:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="4"
			SmtpServer="localhost"
			To="testuser@example.com"
			/>
	</Jobs>
	<Jobs type="Agent.AgentJob, AgentBase" Name="My Web Site">
		<Worker type="Agent.Worker.HttpWorker, AgentWorkers"
			Description="My Web Site"
			Url="http://mywebsite/somepage.aspx"
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Weekdays"
			Frequency="00:05:00"
			StartTime="03:00:00"
			EndTime="20:00:00"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="Warning,Critical,Exception"
			MaxNotificationFrequency="08:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="4"
			SmtpServer="localhost"
			To="testuser@example.com"
			/>
	</Jobs>
	<Jobs type="Agent.AgentJob, AgentBase" Name="MYSERVER Disk Space">
		<Worker type="Agent.Worker.NetworkDiskSpaceWorker, AgentWorkers"
			Description="MYSERVER Disk Space"
			ServerUNC="\\myserver\"
			WarningPercentFree="20"
			CriticalPercentFree="10"
			WarningGigabytesFree="4"
			CriticalGigabytesFree="2"
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Everyday"
			Frequency="00:15:00"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="Warning,Critical,Exception"
			MaxNotificationFrequency="01:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="10"
			SmtpServer="localhost"
			To="testuser@example.com"
			Subject = "[ALERT] {0}"
			/>
	</Jobs>
	<Jobs type="Agent.AgentJob, AgentBase" Name="ANOTHERSERVER Disk Space">
		<Worker type="Agent.Worker.NetworkDiskSpaceWorker, AgentWorkers"
			Description="ANOTHERSERVER Disk Space"
			ServerUNC="\\anotherserver\"
			WarningPercentFree="20"
			CriticalPercentFree="10"
			WarningGigabytesFree="4"
			CriticalGigabytesFree="2"
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Everyday"
			Frequency="00:15:00"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="Warning,Critical,Exception"
			MaxNotificationFrequency="01:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="10"
			SmtpServer="localhost"
			To="testuser@example.com"
			Subject = "[ALERT] {0}"
			/>
	</Jobs>
	<Jobs type="Agent.AgentJob, AgentBase" Name="SOMESERVER process.exe">
		<Worker type="Agent.Worker.LongRunningProcessWorker, AgentWorkers"
			Description="SOMESERVER process.exe"
			ServerUNC="\\SOMESERVER\"
			WarningProcessAge="00:10:00"
			CriticalProcessAge="00:20:00"
			ProcessName="process.exe"
			/>
		<Schedulers type="Agent.FixedIntervalScheduler, AgentClasses"
			DaysOfWeek="Weekdays"
			Frequency="00:10:00"
			StartTime="04:20:00"
			EndTime="23:00:00"
			/>
		<Notifiers type="Agent.SmtpNotifier, AgentClasses"
			NotifyOnWorkerResultStatus="Warning,Critical,Exception"
			MaxNotificationFrequency="01:00:00"
			MaxNotificationPeriod="1.00:00:00"
			MaxNotificationCountInPeriod="10"
			SmtpServer="localhost"
			To="testuser@example.com"
			Subject = "[ALERT] {0}"
			/>
	</Jobs>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="Access is denied."
		Message="Access is denied."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="The RPC server is unavailable."
		Message="The RPC server is unavailable."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="The network path was not found."
		Message="The network path was not found."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="A system shutdown is in progress."
		Message="A system shutdown is in progress."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="The specified network name is no longer available."
		Message="The specified network name is no longer available."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="Windows cannot find the network path. Verify that the network path is correct and the destination computer is not busy or turned off. If Windows still cannot find the network path, contact your network administrator."
		Message="Windows cannot find the network path. Verify that the network path is correct and the destination computer is not busy or turned off. If Windows still cannot find the network path, contact your network administrator."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="The network name cannot be found."
		Message="The network name cannot be found."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="Logon Failure: The target account name is incorrect."
		Message="Logon Failure: The target account name is incorrect."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="The remote procedure call failed."
		Message="The remote procedure call failed."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="The network location cannot be reached. For information about network troubleshooting, see Windows Help."
		Message="The network location cannot be reached. For information about network troubleshooting, see Windows Help."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="Call was canceled by the message filter."
		Message="Call was canceled by the message filter."
	/>
	<IgnorableExceptions type="Agent.AgentIgnorableException, AgentBase"
		Name="The handle is invalid."
		Message="The handle is invalid."
	/>
</Manager>
