<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="AgentRemotingManagerUrl" value="http://localhost:999/agent/report"/>
  </appSettings>

  <system.runtime.remoting>
    <application name="client">
      <channels>
        <channel ref="http" port="0">    <!-- support HttpChannel -->
          <clientProviders>
            <formatter ref="binary" />   <!-- support binary encoding -->
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
